table{
    color: gray;
}
table base{
    color: black;
}
table ::backdrop{
    color: red;
}
table {
    background-color: black;
}
body{
    background-color: bisque;
}
input [type="button"]
{
    background-color: red;
}
td